/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans" Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #ffff;
  background-color: #684bb1;
  background-image: url("../images/bg-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  text-decoration: none;
}
h1 {
  padding: 0;
  margin: 0;
}
img {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 6.4rem 0;
}
.container {
}
.logo-link {
}
.logo-img {
}
.main {
}
.main__container {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-bottom: 2.7rem;
}
.main__img {
}
.main__info {
  width: 52rem;
}
.main__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */

  color: #ffffff;
  margin-bottom: 2.4rem;
}
.main__descr {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #ffffff;
  margin-bottom: 3.7rem;
}
.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;
  display: inline-block;
  background: #ffffff;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
  border-radius: 28px;
  padding: 13px 63px 16px 64px;
  transition: all 0.3s;
}
.footer .container {
  display: flex;
  justify-content: end;
}
.footer__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.footer__item {
}
.footer__link {
}
.footer__icon {
  border: 1.2px solid #ffffff;
  border-radius: 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s;
  font-size: 2rem;
  color: #ffffff;
  transition: all 0.3s;
}
/* Action */
.btn:hover {
  background-color: #e880e8;
  color: #ffffff;
}

.footer__icon:hover {
  border-color: #e880e8;
  color: #e880e8;
}

/* MEDIA */
@media screen and (max-width: 1000px) {
  .main__img {
    width: 40rem;
  }
}
@media screen and (max-width: 850px) {
  body {
    background-image: url("../images/mobile-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .header {
    padding: 3.8rem 0;
  }
  .logo-img {
    width: 12rem;
  }
  .main__img {
    width: 30rem;
    height: auto;
  }
  .main__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.4rem;
  }
  .main__info {
    display: flex;
    flex-direction: column;
    width: 30rem;
    align-items: center;
  }
  .main__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    margin-bottom: 1.6rem;
  }
  .main__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2.4rem;
  }
  .btn {
    font-size: 12px;
    line-height: 18px;
  }
  .footer .container {
    justify-content: center;
  }
}
